In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

import seaborn as sns
sns.set()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [ ]:
from os import listdir
from os.path import isfile, join

path_mhar = '/drive/My Drive/mhar_test_times_p100/'
files_mhar = [path_mhar + f for f in listdir(path_mhar)]

path_har = '/drive/My Drive/tommi_times/'
files_har = [path_har + f for f in listdir(path_har)]

mhar = []
for f in files_mhar:
  mhar.append(pd.read_csv(f))
mhar = pd.concat(mhar, ignore_index=True)

har = []
for f in files_har:
  har.append(pd.read_csv(f))
har = pd.concat(har, ignore_index=True)

har['Type'] = har['Type'].apply(lambda x: 'hypercube' if x==1 else 'simplex')

In [ ]:
mhar['mhar_total_points'] = mhar['thi'] * mhar['z']
mhar.rename(inplace=True,
            columns={
                'time':'mhar_time',
                'samples_sec': 'mhar_samples_sec',
                'thi':'mhar_thi'
            })
mhar.head(1)

      n    z  mhar_time  ...   figure mhar_samples_sec mhar_total_points
0  2500  500  63.911807  ...  simplex     78232.806539           5000000

[1 rows x 8 columns]

In [ ]:
har.head(1)

           time  figure    n  Samples   Iter  har_thi
0  28866.492653       2  250        1  30000    30000

In [ ]:
har.rename(inplace=True,
           columns={
               'Time':'har_time',
               'Type':'figure',
               'Dim':'n',
               'Thinning':'har_thi',
           })
har['har_total_points'] = har['har_thi']
har['har_samples_sec'] =  har['Iter']/har['har_time']

har_experiments = har[['figure', 'n']].drop_duplicates()
har.head(1)

       har_time   figure    n  ...  har_thi  har_total_points  har_samples_sec
0  28866.492653  simplex  250  ...    30000             30000         1.039267

[1 rows x 8 columns]

In [ ]:
mhar[(mhar['n'].isin(har['n'])) & (mhar['figure'].isin(har['figure']))]

        n     z       time    thi   gpu     figure   samples_sec
58    100     1  14.301037  30000  p100    simplex  2.097750e+03
59    100   500  13.050720  30000  p100    simplex  1.149362e+06
60    100  1500  12.647002  30000  p100    simplex  3.558156e+06
61    100  3000  12.469758  30000  p100    simplex  7.217462e+06
62    100  4000  27.450917  30000  p100    simplex  4.371439e+06
...   ...   ...        ...    ...   ...        ...           ...
1429  100  2000  25.942930  30000  p100  hypercube  2.312769e+06
1430  100  2500  45.858667  30000  p100  hypercube  1.635460e+06
1431  100  3500  24.417930  30000  p100  hypercube  4.300119e+06
1432  100  5000  67.373997  30000  p100  hypercube  2.226378e+06
1433  100  7500  73.441834  30000  p100  hypercube  3.063649e+06

[916 rows x 7 columns]